@import url('https://fontlibrary.org//face/cmu-serif');

.serif-font {
    font-family: "CMUSerifRoman", serif;
    ;
}

.white-text {
    color: white;
}

.dark-text {
    color: #1D394E;
}

.webooks-text-yellow {
    color: #FFBD59;
}

.webooks-bg-yellow {
    background-color: #FFBD59;
}

.bg-light {
    background-color: #D7C9B5;
}

.btn-yellow {
    color: #1D394E;
    background-color: #FFBD59;
}

.btn-yellow:hover {
    color: #1D394E;
    background-color: #C69245;
}

.btn-outline-yellow {
    border-color: #FFBD59;
    color: #FFBD59;
}

.btn-outline-yellow:hover {
    color: #1D394E;
    background-color: #FFBD59;
}

.header-link {
    color: white;
}

.header-link:hover {
    color: #D8CBB8;
}

.header-link-secondary {
    color: #9D9385;
}

.header-link-secondary:hover {
    color: #817A6E;
}